<div class="toDoListContainer">
    <div class="formContainer">
        <div class="formBox">
            <form>
                <input type="text" placeholder="Add task..." size="60" [(ngModel)]="task" [ngModelOptions]="{standalone: true}">
                <ul class="segments">
                    <input type="radio" name="box1" value="!" id="segLow">
                    <label for="segLow">!</label>
                    <input type="radio" name="box1" value="!!" id="segMedium">
                    <label for="segMedium">!!</label>
                    <input type="radio" name="box1" value="!!!" id="segHigh">
                    <label for="segHigh">!!!</label>
                </ul>
                <button type="submit" (click)="addToDo()">Add Task</button>
            </form>
        </div>
    </div>

    <div *ngFor="let toDo of toDoList">
        <input type="checkbox" ng-model="toDo.done"><span>{{ toDo.name }}</span>
        <button type="submit" (click)="removeToDo()">X</button>
    </div>
</div>