<div class="toDoListContainer">
    <div class="formContainer">
        <div class="formBox">
            <form>
                <input type="text" placeholder="Add task..." size="40" [(ngModel)]="task" [ngModelOptions]="{standalone: true}" autofocus>
                <ul class="segments">
                    <input type="radio" name="box1" value="!" id="segLow" [(ngModel)]="priority">
                    <label for="segLow">!</label>
                    <input type="radio" name="box1" value="!!" id="segMedium" [(ngModel)]="priority">
                    <label for="segMedium">!!</label>
                    <input type="radio" name="box1" value="!!!" id="segHigh" [(ngModel)]="priority">
                    <label for="segHigh">!!!</label>
                </ul>
                <button type="submit" (click)="addToDo()">Add Task</button>
            </form>
        </div>
    </div>

    <div *ngFor="let toDo of toDoList; let i=index" class="listItem">
        <span>{{ toDo.priority }} | {{ toDo.name }}</span>
        <button type="submit" (click)="removeToDo(i)">Delete</button>
    </div>

</div>