/*---------------------------
    PUBLIC COLOR VARIABLES
---------------------------*/

$darkPurple: #88498F;
$lightPurple: #AF90A9;
$mintGreen: #85FF9E;
$lightBlue: #A6F4DC;
$maroonRed: #944654;
$graySilver: #B6C6C4;

/*-----------------------------
    PRIVATE COLOR VARIABLES
-----------------------------*/

$primaryColor: $darkPurple;
$accentColor: $lightPurple;