.footerBar {
    height: 7vh;
    width: 100%;
    box-shadow: 0px 1px 6px 0.5px rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    background-color: rgba(136, 73, 143, 1);
}

.footerLogo {
    display: inline-block;
    height: 100%;
    width: 60%;
    margin: 0px;
    padding: 0px;
    float: left;
}

.footerLinks {
    display: inline-block;
    height: 100%;
    width: 40%;
    margin: 0px;
    padding: 0px;
    float: right;
}

.footerLinks ul {
    display: inline-block;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    float: left;
    vertical-align: middle;
}

.footerLinks ul li {
    display: table;
    vertical-align: middle;
    height: 100%;
    text-align: center;
    width: 30%;
    margin: 0px;
    padding: 0px;
    float: left;
    font-family: cursive;
}

.footerLinks ul li a {
    cursor: crosshair;
    display: table-cell;
    text-decoration: none;
    vertical-align: middle;
    color: white;
    font-size: 16px;
}

.footerLinks ul li a:hover {
    background-color: #4B284E;
}
