<div class="cleaningContainer">
    <div class="cleaningBox">

        <div class="dailyBox">
            <h1>Daily Tasks</h1>
            <button class="submitButtonBig">Add Task</button>
        </div>

        <div class="weeklyBox">
            <h1>Weekly Tasks</h1>
            <button class="submitButtonBig">Add Task</button>
        </div>

        <div class="monthlyBox">
            <h1>Monthly Tasks</h1>
            <button class="submitButtonBig">Add Task</button>
        </div>
    </div>
</div>