<div class="formContainer">
    <div class="formBox">
        <form>
            <input type="text" placeholder="Add grocery item..." [(ngModel)]="groceryItem">
            <select>
                <optgroup label="Grocery Stores">
                    <option value="Aldi">Aldi</option>
                    <option value="Dunnes">Dunnes</option>
                    <option value="Tesco">Tesco</option>
                    <option value="Lidl">Lidl</option>
                    <option value="SuperValu">SuperValu</option>
                    <option value="Conveience">Aldi</option>
                </optgroup>
                <optgroup label="Home Stores">
                    <option value="Easons">Easons</option>
                    <option value="TKMaxx">TKMaxx</option>
                    <option value="Charity Shop">Charity Shop</option>
                </optgroup>
            </select>
            <button type="submit">Add</button>
        </form>
    </div>

    <table>
        <item></item>
    </table>
</div>
