<div class="groceryListContainer">
    <div class="formContainer">
        <div class="formBox">
            <form>
                <input type="text" placeholder="Add grocery item..." [(ngModel)]="item" [ngModelOptions]="{standalone: true}" autofocus required>
                <input type="number" placeholder="1" class="counter" value="1" min="0" max="99" step="1" [(ngModel)]="quantity" [ngModelOptions]="{standalone: true}">
                <select [(ngModel)]="store" [ngModelOptions]="{standalone: true}">
                    <optgroup label="Grocery Stores">
                        <option value="Aldi" ng-selected="selected">Aldi</option>
                        <option value="Dunnes">Dunnes</option>
                        <option value="Tesco">Tesco</option>
                        <option value="Lidl">Lidl</option>
                        <option value="SuperValu">SuperValu</option>
                        <option value="Conveience">Aldi</option>
                    </optgroup>
                    <optgroup label="Home Stores">
                        <option value="Easons">Easons</option>
                        <option value="TKMaxx">TKMaxx</option>
                        <option value="Charity Shop">Charity Shop</option>
                    </optgroup>
                </select>
                <button type="submit" class="submitButtonBig" (click)="addGroceryItem()">Add Item</button>
            </form>
        </div>

        <div class="listContainer">
            <div class="listBox">
                <div class="listControlContainer">
                    <div class="listBar">
                        <button type="submit" class="submitButtonLong" (click)="clearSelected()">Clear Selected</button>
                        <button type="submit" class="submitButtonLong" (click)="clearAll()">Clear All</button>
                    </div>
                </div>
                <div class="listTableContainer">
                    <table>
                        <thead>
                            <tr>
                                <td class="statusHead">Status</td>
                                <td class="storeHead">Store</td>
                                <td class="itemHead">Item</td>
                                <td class="quantityHead">Quantity</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of groceryList; let i=index" class="listItem">
                                <td class="status">
                                    <div class="checkboxWrapper">
                                        <input type="checkbox" id="checkbox{{i}}">
                                        <label for="checkbox{{i}}"></label>
                                    </div>
                                </td>
                                <td class="store">{{ item.store }}</td>
                                <td class="item">{{ item.item }}</td>
                                <td class="quanity">{{ item.quantity }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>