/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #E7E5DF;
    width: 100%;
    height: 100%;
    clear: both;
}

.content {
    position: relative;
    top: 7vh;
}

.dynamicContent {
    box-sizing: border-box;
    width: 100%;
    height: 86vh;
    margin-top: 7vh;
    background-color: red;
    padding: 0px;
}